PORT=3000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.v0pk9p5.mongodb.net/?appName=Cluster0
JWT_SECRET=replace_with_a_secure_randomly_generated_string_for_production
PAYPAL_CLIENT_ID=replace_with_your_paypal_client_id
PAYPAL_CLIENT_SECRET=replace_with_your_paypal_client_secret
PAYPAL_MODE=sandbox
frontend_URL=http://localhost:3000
